.main-content{
     margin: 0;
     padding: 20px 0;
     width: 100%;
     min-height: calc(100vh - 87.2px - 91.2px - 40px);
}

.title-main-content{
     font-size: 1.7rem;
     font-weight: 600;

     display: flex;
     justify-content: center;
     align-items: center;

     margin: 0 auto;

}